<%- include Partials/header.ejs%>
<%- include Partials/main_nav.ejs%>

<!-- Shoe Database -->
<main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-10">
            <h1 class="text-center"><%= title %></h1>
            <br>
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr class="d-flex">
                        <th class="text-center col-2">Brand</th>
                        <th class="text-center col-2">Size</th>
                        <th class="text-center col-1">Color</th>
                        <th class="text-center col-1">Price</th>
                        <th class="text-center col-1">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let count = 0; count < BookList.length; count++) { %>
                        <tr class="d-flex">
                            <td class="text-center col-2"><%= BookList[count].Brand %></td>
                            <td class="text-center col-2"><%= BookList[count].Size %></td>
                            <td class="text-center col-1"><%= BookList[count].Color %></td>
                            <td class="text-center col-1">$<%= BookList[count].Price %></td>
                            <td class="text-center col-1">
                                <a href="/edit/<%= BookList[count]._id %>" class="btn btn-primary btn-sm">Edit</a>
                                <a href="/delete/<%= BookList[count]._id %>" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure?')">Delete</a>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</main>

<%- include Partials/footer.ejs%>
